@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kalam:wght@700&family=Lobster&display=swap');
*{
    background-color: #d8d8d8;
    font-family: 'Kalam', cursive;
}
#logo{
    width: 200px;
    margin-bottom: 5%;
}

header{
    text-align: center; 
}

.corpo{
    text-align: center ;
    font-size: 70%;
}
#picpay{
    width: 200px;
}
#selecione{
    color: black;
}

#botao-voltar{
    width: 5rem;
    position: absolute;
    left: 1rem;
    top: 1rem;
}
#botao-voltar:hover{
    cursor: pointer;
}
#info_logo{
    width: 2.5rem;
    max-width: 2.5rem;
    max-height: 2.5rem;
}
.info_pai{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#confirmar{
    text-align: center;
    font-size: 80%;
    height:fit-content;
}