@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kalam:wght@700&family=Lobster&display=swap');
*{
    font-family: 'Kalam', cursive;
    color: rgb(0, 0, 0);
}
html{
    background-image: linear-gradient(to bottom,white, #ff00a1);
    height: 100vh;
}
.logo{
    width: 300px;
    margin-bottom: 5%;
}
header{
    text-align: center;
}
/*Pai do botão e do */
.input{
    text-align: center;
    margin: 5px;
    height: 3rem;
    margin: 3rem;
    justify-content: center;
}
/*Input onlyread*/
#input-pix{
    border: 2px solid black;
    border-radius: 1rem;
    padding: 8px;
}
/*Copy Button*/
#copiar{
    border-radius: 1rem;
    /* border: 2px solid black; */
    border-color: rgba(240, 27, 27, 0.52);
    background-color: #ff61dab6;
    border: 1px solid #ffbe92e2;
}
#copiar:hover{
    cursor: pointer;
    background-color: hsl(321, 100%, 65%);
    box-shadow: 5px 5px 5px 5px hsl(288, 100%, 50%);
}
/*Pix e chave aleatório*/
h1{
    text-align: center;
    cursor:default
}
h2{
    text-align: center;
    font-size: medium;
    cursor: default;
}
/*Button Back History*/
#botao-voltar{
    width: 80px;
    margin-left: 0;
    display: block;
}
#botao-voltar:hover{
    cursor: pointer;
}
#info_logo{
    width: 2.5rem;
    max-width: 2.5rem;
    max-height: 2.5rem;
}
.info_pai{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#confirmar{
    text-align: center;
    font-size: 80%;
    height:fit-content;
}
@media(max-width:388px){
    #botao-voltar{
        width: 60px;
    }
    #copiar{
        margin: 1rem;
        border: 2px solid black;
    }
}
@media (max-width: 460px){
    #info_logo{
        max-height: 2rem;
        max-width: 2rem;
        position:relative;
    }
}