@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kalam:wght@700&family=Lobster&display=swap');
*{
    font-family: 'Kalam', cursive;
    color: rgb(255, 208, 254);
}
body{
    background-image: url('/formas_pagamento/imagens/blurry-gradient-haikei.svg');
    background-size: cover;
    margin: 0;
    padding: 0;
}
.logo{
    width: 300px;
    margin-bottom: 5%;

}
header{
    text-align: center;
}
/*Button Back History*/
#botao-voltar{
    width: 80px;
    margin-left: 0;
    display: block;
}
#botao-voltar:hover{
    cursor: pointer;
}
.dados{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.dados div{
    display: flex;
    justify-content: space-between;
    width: 20%;
    align-items: center;
}
h3 {
    text-decoration: underline;
    display: inline;
    cursor: default;
    font-size: 1rem;
    width: 50%;
    margin: 0;
    height: auto;
}

input{
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    margin: 4%;
    font-size: 0.8rem;
    width: 50%;
}
@media (max-width: 1420px){
    .dados{
       display: block;
    }
    .dados div {
        display: block;
        margin: 0 auto;
        width: 50%;
    }
    h3{
        display: block;
        margin: 0 auto;
        font-size: 100%;
    }
    .h3{
        width: 100%;
    }
    input{
        font-size: 100%;
    }
    h1{
        font-size: 100%;
    }
}
@media (max-width: 510px){
    #manu{
        font-size: 60%;
    }
    #banco{
        font-size: 65%;
    }
}
#info_logo{
    width: 2.5rem;
    max-width: 2.5rem;
    max-height: 2.5rem;
    display: flex;
}
.info_pai{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
    margin: 0 auto;
}
#confirmar{
    text-align: center;
    font-size: 80%;
    height:fit-content;
    text-decoration: none;
    width: 100%
}